@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Calorie_Counter.Models.Users

@{
    ViewBag.Title = "Cosmo";
}

<h1>Cosmo</h1>
<h2>A Calorie Counting App!</h2>

@using (Html.BeginForm("CalculatorResult", "Main", FormMethod.Post))
{
        <fieldset>
            <legend>Tell me about yourself</legend>
            <div>Gender</div>
            <div class="editor-field">@Html.CheckBox("IsMale", Model.IsMale)</div>
            <div class="editor-field">@Html.CheckBox("IsFemale", Model.IsFemale)</div>
            <div>Height</div>
            <div class="editor-field"><input name="Height" value="@Model.Height" /></div>
            <div>Weight</div>
            <div class="editor-field"><input name="Weight" value="@Model.Weight" /></div>
            <div>Age</div>
            <div class="editor-field"><input name="Age" value="@Model.Age" /></div>
            <div class="submit"><input type="submit" value="Generate Results!" /></div>

        </fieldset>
}
